[user]
	email = ttattataa@gmail.com
	name = meriy100
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  pur = pull --rebase
  st = status --short --branch
  br = branch
  ch = checkout
  co = commit
  df = diff
  dfw = diff --color-words --word-diff-regex='\\w+|[^[:space:]]'
  amend = commit --amend -m
  start = flow feature start
  finish = flow feature finish
  gr = grep -n
  # publish = flow feature publish
	openpr = "!f() { hub browse -- `git log --merges --oneline --reverse --ancestry-path $1...master | grep 'Merge pull request #' | head -n 1 | cut -f5 -d' ' | sed -e 's%#%pull/%'`; }; f"
#[url "git@github.com:"]
#	pushinsteadof = https://github.com/
# [url "github:"]
#     InsteadOf = https://github.com/
#     InsteadOf = git@github.com
[core]
	quotepath = false
	excludesfile = /Users/meriy100/.gitignore_global
[diff]
	tool = vimdiff
	compactionHeuristic = true
[difftool]
	prompt = false
[merge]
	tool = vimdiff
[mergetool]
	prompt = false
	keepBackup = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[diff "openxml"]
  textconv = ~/local/script/bin/unopenxml
[fetch]
	prune = true
