*/*
.*.swp
.rbenv/*
.rbenv
.ICEauthority
.Xauthority
.bash_history
.bash_logout
.dmrc
.gksu.lock
.mysql_history
.profile
.pry_history
.viminfo
.vt_locations
.xsession-errors
.xsession-errors.old
.zcompdump
.zsh-history
examples.desktop
.Xdefaults
.gemrc
.gitconfig.mine
.gitconfig.r39412
.gitconfig.r39443
.gtk-custom-papers
.lesshst
.netrc
.rsense
.sqlite_history
.tmuxrc
.vimrc.indent_guides
.xinputrc
.zcompdump-Eri-5.0.5
.zsh-update
.zsh_history
.zshrc.mine
.zshrc.pre-oh-my-zsh
.zshrc.r39483
.zshrc.r39652
.zshrc.local
empty
index.html
missfont.log
.xdvirc
nodebrew
.Xmodmap.local
