*/*
.*.swp
.ICEauthority
.Xauthority
.bash_history
.bash_logout
.dmrc
.gitconfig
.gksu.lock
.mysql_history
.profile
.pry_history
.viminfo
.vt_locations
.xsession-errors
.xsession-errors.old
.zcompdump
.zsh-history
examples.desktop
