[user]
	email = ttattataa@gmail.com
  name = meriy100
[alias]
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  st = status
  br = branch
  ch = checkout
  co = commit
  df = diff
  dfw = diff --color-words --word-diff-regex='\\w+|[^[:space:]]'
  amend = commit --amend -m
  start = flow feature start
  finish = flow feature finish
  publish = flow feature publish
[url "git@github.com:"]
	pushinsteadof = https://github.com/
