" ショートカット C-s C-q
" map  <C-q> :q<CR>
" nmap  <C-s> :w!<CR>
imap <C-s> <Esc>:w!<CR>
" imap <C-[> <Esc><CR>
inoremap <silent> jj <ESC>


" 0, 9で行頭、行末へ
nmap 1 0
nmap 0 ^
nmap 9 $

nnoremap ; :


let mapleader = "\<Space>"
nnoremap <Leader>w :w<CR>
nnoremap <Leader>s :w<CR>
nnoremap <Leader>q :q<CR>
nnoremap <Leader>e :e
nnoremap <Leader>j% :vsplit<CR>
nnoremap <Leader>j" :split<CR>
nnoremap <Leader>jh <C-w>h<CR>
nnoremap <Leader>jh <C-w>h<CR>
nnoremap <Leader>jj <C-w>j<CR>
nnoremap <Leader>jk <C-w>k<CR>
nnoremap <Leader>jl <C-w>l<CR>

nnoremap <Leader>i :Unite buffer<CR>

" Command-T "
" let g:CommandTMatchWindowAtTop=1
let g:CommandTMatchWindowReverse=0
let s:commandTHeight=18
let g:CommandTMaxHeight=s:commandTHeight
let g:CommandTMinHeight=s:commandTHeight
let g:CommandTMaxDepth=20
let g:CommandTFileScanner='git'
nnoremap <silent><Leader>[ :CommandTFlush<CR>\|:CommandT<Space><UP>
nnoremap <Leader>o :CommandT ./<CR>

" let g:run_rspec_bin = 'bin/rspec'
" let g:run_rspec_bin = 'bundle exec rspec'
let g:run_rspec_bin = 'spring rspec'
nnoremap <Leader>r :RunSpec<CR>

nnoremap <silent> ,gg :<C-u>GitGutterToggle<CR>
nnoremap <silent> ,gh :<C-u>GitGutterLineHighlightsToggle<CR>

nnoremap <silent> gff :Gdiff<CR>

nnoremap m :SyntasticCheck<CR>

nnoremap<silent>eo :NERDTreeToggle<CR>
